rect.grandparent {
  stroke-width: 4px;
  fill: orange;
  fill-opacity: .8;
}

rect.grandparent:hover {
  stroke-width: 3.5px;
  fill: orange;
  fill-opacity: 1;
}

rect.parent {
  stroke-width: 4px;
  stroke: #fff;
  fill: #bbb;
}

rect.leaf {
  fill: #bbb;
  stroke-width: 4px;
  stroke: #fff;
}

rect.child {
  stroke-width: .5px;
  stroke: #fff;
  fill: #bbb;
}

.children:hover rect.leaf {
  stroke-width: 4px;
  stroke: #fff;
  fill: #bbb;
}

.children:hover rect.child {
  stroke-width: .5px;
  stroke: #fff;
  fill: #bbb;
  fill-opacity: .8;
}

g.grandparent,
g.children {
  cursor: pointer;
}

text {
  font: 10px sans-serif;
  font-weight: bold;
  dominant-baseline: hanging;
}