rect.tooltip {
  position: relative;
  display: inline-block;
  fill: white;
  stroke-width: 1px;
  stroke: black;
}

button.treemap-back-button {
  float: left;
  margin-right: 5px;
}

div.treemap-app {
  margin: 100px;
}

rect.grandparent {
  stroke-width: 3px;
  fill: orange;
  fill-opacity: .8;
}

rect.grandparent:hover {
  stroke-width: 3px;
  fill: orange;
  fill-opacity: 1;
}

rect.parent {
  stroke-width: 3px;
  stroke: #fff;
  fill: #bbb;
}

rect.leaf {
  fill: #bbb;
  stroke-width: 3px;
  stroke: #fff;
}

rect.child {
  stroke-width: .5px;
  stroke: #fff;
  fill: #bbb;
}

.children rect.parent {
  stroke-width: 3px;
  stroke: #fff;
  fill: #aaa;
}

.children:hover rect.parent {
  stroke-width: 3px;
  stroke: #fff;
  fill: #bbb;
  fill-opacity: .8;
}

g.grandparent,
g.children {
  cursor: pointer;
}

text {
  font: 10px sans-serif;
  font-weight: bold;
  dominant-baseline: hanging;
}